
@charset "iso-8859-1";


body {
	font-family: Tahoma;    
	font-size: 11;    
	margin: 0px;
}

/* casi el titulo mas grande */
h2 {
	font-family: Verdana;    
	font-size: 16;    
	color: #003399;
	margin: 0px;
	margin-bottom: 4px;
}

/* resaltado lebe, para titulos tipo 2 */
h4 {
	margin: 0px;
	margin-bottom: 4px;
}

p {
	margin: 0px;
	margin-left: 8px;
}

table {
	border-width: 0px;    
	font-family: Tahoma;    
	font-size: 11;    
	margin: 0px;    
}


